.operate_title {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: #4180D0;
}
.start_end_time_month,
.start_end_time_day,
.start_end_time_year {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.start_end_time_day,
.start_end_time_year {
    display: none;
}
.gapline {
    margin-left: 5px;
    margin-right: 5px;
}

.layui-table-box .layui-table-cell  {
    line-height: 20px;
    padding: 5px 5px ;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    overflow: visible;
    height: auto;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
}

.layui-table-box .layui-table-main {
    height: 147px !important;
}
