<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hna.hka.archive.management.system.dao.SysSpotResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.hna.hka.archive.management.system.model.SysSpotResources" >
    <id column="SPOT_RESOURCES_ID" property="spotResourcesId" jdbcType="BIGINT" />
    <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="RESOURCES_ID" property="resourcesId" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SPOT_RESOURCES_ID, SCENIC_SPOT_ID, RESOURCES_ID, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_SPOT_RESOURCES
    where SPOT_RESOURCES_ID = #{spotResourcesId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_SPOT_RESOURCES
    where SPOT_RESOURCES_ID = #{spotResourcesId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hna.hka.archive.management.system.model.SysSpotResources" >
    insert into SYS_SPOT_RESOURCES (SPOT_RESOURCES_ID, SCENIC_SPOT_ID, RESOURCES_ID, 
      CREATE_DATE)
    values (#{spotResourcesId,jdbcType=BIGINT}, #{scenicSpotId,jdbcType=BIGINT}, #{resourcesId,jdbcType=BIGINT}, 
      #{createDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hna.hka.archive.management.system.model.SysSpotResources" >
    insert into SYS_SPOT_RESOURCES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spotResourcesId != null" >
        SPOT_RESOURCES_ID,
      </if>
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID,
      </if>
      <if test="resourcesId != null" >
        RESOURCES_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spotResourcesId != null" >
        #{spotResourcesId,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="resourcesId != null" >
        #{resourcesId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hna.hka.archive.management.system.model.SysSpotResources" >
    update SYS_SPOT_RESOURCES
    <set >
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="resourcesId != null" >
        RESOURCES_ID = #{resourcesId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
    </set>
    where SPOT_RESOURCES_ID = #{spotResourcesId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hna.hka.archive.management.system.model.SysSpotResources" >
    update SYS_SPOT_RESOURCES
    set SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      RESOURCES_ID = #{resourcesId,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR}
    where SPOT_RESOURCES_ID = #{spotResourcesId,jdbcType=BIGINT}
  </update>
  <select id="getSpotResourcesByScenicSpotId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_SPOT_RESOURCES
    where SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}
  </select>
</mapper>