<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hna.hka.archive.management.system.dao.SysScenicSpotTreasureHuntRuleMapper" >
  <resultMap id="BaseResultMap" type="com.hna.hka.archive.management.system.model.SysScenicSpotTreasureHuntRule" >
    <id column="RULE_ID" property="ruleId" jdbcType="BIGINT" />
    <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="RULE_CONTENT" property="ruleContent" jdbcType="VARCHAR" />
    <result column="RULE_URL" property="ruleUrl" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hna.hka.archive.management.system.model.SysScenicSpotBroadcastExtendWithBLOBs" extends="BaseResultMap" >
    <result column="BROADCAST_CONTENT" property="broadcastContent" jdbcType="LONGVARCHAR" />
    <result column="PICTURE_URL" property="pictureUrl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RULE_ID, SCENIC_SPOT_ID, RULE_CONTENT, RULE_URL, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT_TREASURE_HUNT_RULE
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_SCENIC_SPOT_TREASURE_HUNT_RULE
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hna.hka.archive.management.system.model.SysScenicSpotTreasureHuntRule" >
    insert into SYS_SCENIC_SPOT_TREASURE_HUNT_RULE (RULE_ID, SCENIC_SPOT_ID, RULE_CONTENT,
      RULE_URL, CREATE_DATE, UPDATE_DATE)
    values (#{ruleId,jdbcType=BIGINT}, #{scenicSpotId,jdbcType=BIGINT}, #{ruleContent,jdbcType=VARCHAR},
      #{ruleUrl,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hna.hka.archive.management.system.model.SysScenicSpotTreasureHuntRule" >
    insert into SYS_SCENIC_SPOT_TREASURE_HUNT_RULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        RULE_ID,
      </if>
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID,
      </if>
      <if test="ruleContent != null" >
        RULE_CONTENT,
      </if>
      <if test="ruleUrl != null" >
        RULE_URL,
      </if>
      <if test="ruleType != null">
        RULE_TYPE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="ruleContent != null" >
        #{ruleContent,jdbcType=VARCHAR},
      </if>
      <if test="ruleUrl != null" >
        #{ruleUrl,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hna.hka.archive.management.system.model.SysScenicSpotTreasureHuntRule" >
    update SYS_SCENIC_SPOT_TREASURE_HUNT_RULE
    <set >
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="ruleContent != null" >
        RULE_CONTENT = #{ruleContent,jdbcType=VARCHAR},
      </if>
      <if test="ruleUrl != null" >
        RULE_URL = #{ruleUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
    </set>
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hna.hka.archive.management.system.model.SysScenicSpotTreasureHuntRule" >
    update SYS_SCENIC_SPOT_TREASURE_HUNT_RULE
    set SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      RULE_CONTENT = #{ruleContent,jdbcType=VARCHAR},
      RULE_URL = #{ruleUrl,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR}
    where RULE_ID = #{ruleId,jdbcType=BIGINT}
  </update>
  <select id="getBroadcastList" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
    A.*,
    B.SCENIC_SPOT_NAME AS scenicSpotName
    FROM
    SYS_SCENIC_SPOT_TREASURE_HUNT_RULE A
    LEFT JOIN SYS_SCENIC_SPOT B ON A.SCENIC_SPOT_ID = B.SCENIC_SPOT_ID
    WHERE A.SCENIC_SPOT_ID = #{scenicSpotId}
    AND A.RULE_TYPE = #{ruleType}
    ORDER BY A.CREATE_DATE DESC
  </select>
  <select id="getBroadcastExcel" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
    SELECT
	A.BROADCAST_RES_ID,
	A.BROADCAST_ID,
	A.MEDIA_RESOURCE_URL,
	A.MEDIA_TYPE,
	A.CREATE_DATE,
	A.UPDATE_DATE,
	A.BROADCAST_CONTENT,
	A.PICTURE_URL,
	B.BROADCAST_NAME AS broadcastName,
	C.SCENIC_SPOT_NAME AS scenicSpotName,
	B.BROADCAST_GPS AS broadcastGps,
	B.BROADCAST_GPS_BAI_DU AS broadcastGpsBaiDu
    FROM
    SYS_SCENIC_SPOT_BROADCAST_HUNT_EXTEND A
	LEFT JOIN SYS_SCENIC_SPOT_BROADCAST_HUNT B ON A.BROADCAST_ID = B.BROADCAST_ID
	LEFT JOIN SYS_SCENIC_SPOT C ON B.SCENIC_SPOT_ID = C.SCENIC_SPOT_ID
    WHERE A.MEDIA_TYPE = 1
    AND B.SCENIC_SPOT_ID = #{scenicSpotId}
    ORDER BY A.CREATE_DATE DESC
  </select>

  <select id="selectBroadcastRuleBySpotId" resultType="com.hna.hka.archive.management.system.model.SysScenicSpotTreasureHuntRule">
    SELECT *
    FROM SYS_SCENIC_SPOT_TREASURE_HUNT_RULE
    WHERE SCENIC_SPOT_ID = #{scenicSpotId}
    AND RULE_TYPE = #{ruleType}
  </select>

</mapper>