<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hna.hka.archive.management.appSystem.dao.AppRobotSoftAssetInformationMapper">
    <resultMap id="BaseResultMap" type="com.hna.hka.archive.management.appSystem.model.AppRobotSoftAssetInformation">
        <id column="SOFT_ASSET_INFORMATION_ID" jdbcType="BIGINT" property="softAssetInformationId"/>
        <result column="ROBOT_ID" jdbcType="BIGINT" property="robotId"/>
        <result column="DATE_PRODUCTION" jdbcType="VARCHAR" property="dateProduction"/>
        <result column="BATTERY_WARRANTY_DEADLINE" jdbcType="VARCHAR" property="batteryWarrantyDeadline"/>
        <result column="ROBOT_WARRANTY_DEADLINE" jdbcType="VARCHAR" property="robotWarrantyDeadline"/>
        <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate"/>
        <result column="UPDATE_DATE" jdbcType="VARCHAR" property="updateDate"/>
        <result column="COST" jdbcType="VARCHAR" property="cost"/>
        <result column="SERVICE_LIFE" jdbcType="VARCHAR" property="serviceLife"/>
        <result column="FACTORY_COST" jdbcType="VARCHAR" property="factoryCost"/>
        <result column="ACCUMULATE" jdbcType="DOUBLE" property="accumulate"/>
        <result column="NET_PRICE" jdbcType="DOUBLE" property="netPrice"/>
        <result column="ROBOT_CODE" jdbcType="VARCHAR" property="robotCode"/>
    </resultMap>
    <sql id="Base_Column_List">
        SOFT_ASSET_INFORMATION_ID
        , ROBOT_ID, DATE_PRODUCTION, BATTERY_WARRANTY_DEADLINE,
    ROBOT_WARRANTY_DEADLINE, CREATE_DATE, UPDATE_DATE, COST, SERVICE_LIFE, FACTORY_COST, 
    ACCUMULATE, NET_PRICE, ROBOT_CODE
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_ROBOT_SOFT_ASSET_INFORMATION
        where SOFT_ASSET_INFORMATION_ID = #{softAssetInformationId,jdbcType=BIGINT}
    </select>
    <select id="getRobotSoftAssetInformation"
            resultType="com.hna.hka.archive.management.assetsSystem.model.SysRobotSoftAssetInformation"
            parameterType="java.util.Map">
        SELECT distinct
        A.ROBOT_CODE AS robotCode,
        A.ROBOT_ID,
        A.ROBOT_MODEL as robotModel,
        A.CLIENT_VERSION AS clientVersion,
        B.SCENIC_SPOT_NAME AS scenicSpotName,
        A.ROBOT_BATCH_NUMBER AS robotBatchNumber,
        A.ROBOT_MODEL AS robotModel,
        C.SOFT_ASSET_INFORMATION_ID,
        C.ROBOT_ID,
        C.DATE_PRODUCTION,
        C.BATTERY_WARRANTY_DEADLINE,
        C.ROBOT_WARRANTY_DEADLINE,
        C.CREATE_DATE,
        C.UPDATE_DATE,
        C.SERVICE_LIFE,
        C.FACTORY_COST,
        C.ACCUMULATE,
        C.NET_PRICE,
        A.EQUIPMENT_STATUS,
        F.COMPANY_ID as ascriptionCompanyId,
        F.COMPANY_NAME as ascriptionCompanyName
        FROM
        SYS_ROBOT_SOFT_ASSET_INFORMATION C
        LEFT JOIN SYS_ROBOT A ON A.ROBOT_ID = C.ROBOT_ID
        LEFT JOIN SYS_USERS_ROLE_SPOT D ON D.SCENIC_SPOT_ID = A.SCENIC_SPOT_ID
        LEFT JOIN SYS_SCENIC_SPOT B ON A.SCENIC_SPOT_ID = B.SCENIC_SPOT_ID
        LEFT JOIN SYS_ROBOT_COMPANY_ASCRIPTION E ON C.ROBOT_ID = E.ROBOT_ID
        LEFT JOIN SYS_SCENIC_SPOT_ASCRIPTION_COMPANY F ON E.COMPANY_ID = F.COMPANY_ID
        <where>
            <if test="userId != null and userId != ''">
                AND D.USER_ID = #{userId}
            </if>
            <if test="robotCode != null and robotCode != ''">
                AND A.ROBOT_CODE LIKE CONCAT('%',#{robotCode},'%')
            </if>
            <if test="scenicSpotId != null and scenicSpotId != ''">
                AND A.SCENIC_SPOT_ID = #{scenicSpotId}
            </if>
            <if test="robotModel != null and robotModel != ''">
                AND A.ROBOT_MODEL LIKE CONCAT('%',#{robotModel},'%')
            </if>
            <if test="ascriptionCompanyId != null and ascriptionCompanyId != ''">
                AND F.COMPANY_ID = #{ascriptionCompanyId}
            </if>
            <if test="equipmentStatus != null and equipmentStatus != ''">
                AND A.EQUIPMENT_STATUS = #{equipmentStatus}
            </if>
        </where>
        ORDER BY
        A.ROBOT_CODE DESC
    </select>
    <select id="getRobotSoftAssetInformationList"
            resultType="com.hna.hka.archive.management.appSystem.model.SysRobotSoftAssetInformation"
            parameterType="java.util.Map">
        SELECT distinct
        A.ROBOT_CODE AS robotCode,
        A.ROBOT_ID,
        A.ROBOT_MODEL as robotModel,
        A.CLIENT_VERSION AS clientVersion,
        B.SCENIC_SPOT_NAME AS scenicSpotName,
        A.ROBOT_BATCH_NUMBER AS robotBatchNumber,
        A.ROBOT_MODEL AS robotModel,
        A.ROBOT_FAULT_STATE AS robotFaultState,
        C.SOFT_ASSET_INFORMATION_ID,
        C.ROBOT_ID,
        C.DATE_PRODUCTION,
        C.BATTERY_WARRANTY_DEADLINE,
        C.ROBOT_WARRANTY_DEADLINE,
        C.CREATE_DATE,
        C.UPDATE_DATE,
        C.SERVICE_LIFE,
        C.FACTORY_COST,
        C.ACCUMULATE,
        C.NET_PRICE,
        A.EQUIPMENT_STATUS,
        F.COMPANY_ID as ascriptionCompanyId,
        F.COMPANY_NAME as ascriptionCompanyName
        FROM
        SYS_ROBOT_SOFT_ASSET_INFORMATION C
        LEFT JOIN SYS_ROBOT A ON A.ROBOT_ID = C.ROBOT_ID
        LEFT JOIN SYS_USERS_ROLE_SPOT D ON D.SCENIC_SPOT_ID = A.SCENIC_SPOT_ID
        LEFT JOIN SYS_SCENIC_SPOT B ON A.SCENIC_SPOT_ID = B.SCENIC_SPOT_ID
        LEFT JOIN SYS_ROBOT_COMPANY_ASCRIPTION E ON C.ROBOT_ID = E.ROBOT_ID
        LEFT JOIN SYS_SCENIC_SPOT_ASCRIPTION_COMPANY F ON E.COMPANY_ID = F.COMPANY_ID
        <where>
            <if test="userId != null and userId != ''">
                AND D.USER_ID = #{userId}
            </if>
            <if test="robotCode != null and robotCode != ''">
                AND A.ROBOT_CODE LIKE CONCAT('%',#{robotCode},'%')
            </if>
            <if test="scenicSpotId != null and scenicSpotId != ''">
                AND A.SCENIC_SPOT_ID = #{scenicSpotId}
            </if>
            <if test="robotModel != null and robotModel != ''">
                AND A.ROBOT_MODEL LIKE CONCAT('%',#{robotModel},'%')
            </if>
            <if test="ascriptionCompanyId != null and ascriptionCompanyId != ''">
                AND F.COMPANY_ID = #{ascriptionCompanyId}
            </if>
            <if test="equipmentStatus != null and equipmentStatus != ''">
                AND A.EQUIPMENT_STATUS = #{equipmentStatus}
            </if>
        </where>
        ORDER BY
        A.ROBOT_CODE DESC
    </select>
    <select id="appRobotSoftAssetInformationMapper"
            resultType="com.hna.hka.archive.management.assetsSystem.model.SysRobotBelarcAdvisor">
        SELECT distinct A.ROBOT_CODE,
                        A.ROBOT_ID,
                        B.SCENIC_SPOT_NAME,
                        A.CLIENT_VERSION,
                        A.ROBOT_CODE_SIM,
                        A.ROBOT_MODEL
        FROM SYS_ROBOT A
                 LEFT JOIN SYS_USERS_ROLE_SPOT D ON D.SCENIC_SPOT_ID = A.SCENIC_SPOT_ID
                 LEFT JOIN SYS_SCENIC_SPOT B ON A.SCENIC_SPOT_ID = B.SCENIC_SPOT_ID
        where A.ROBOT_CODE LIKE CONCAT('%', #{robotCode}, '%')
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from SYS_ROBOT_SOFT_ASSET_INFORMATION
        where SOFT_ASSET_INFORMATION_ID = #{softAssetInformationId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hna.hka.archive.management.appSystem.model.AppRobotSoftAssetInformation">
        insert into SYS_ROBOT_SOFT_ASSET_INFORMATION (SOFT_ASSET_INFORMATION_ID, ROBOT_ID, DATE_PRODUCTION,
                                                      BATTERY_WARRANTY_DEADLINE, ROBOT_WARRANTY_DEADLINE,
                                                      CREATE_DATE, UPDATE_DATE, COST,
                                                      SERVICE_LIFE, FACTORY_COST, ACCUMULATE,
                                                      NET_PRICE, ROBOT_CODE)
        values (#{softAssetInformationId,jdbcType=BIGINT}, #{robotId,jdbcType=BIGINT},
                #{dateProduction,jdbcType=VARCHAR},
                #{batteryWarrantyDeadline,jdbcType=VARCHAR}, #{robotWarrantyDeadline,jdbcType=VARCHAR},
                #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{cost,jdbcType=VARCHAR},
                #{serviceLife,jdbcType=VARCHAR}, #{factoryCost,jdbcType=VARCHAR}, #{accumulate,jdbcType=DOUBLE},
                #{netPrice,jdbcType=DOUBLE}, #{robotCode,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective"
            parameterType="com.hna.hka.archive.management.appSystem.model.AppRobotSoftAssetInformation">
        insert into SYS_ROBOT_SOFT_ASSET_INFORMATION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="softAssetInformationId != null">
                SOFT_ASSET_INFORMATION_ID,
            </if>
            <if test="robotId != null">
                ROBOT_ID,
            </if>
            <if test="dateProduction != null">
                DATE_PRODUCTION,
            </if>
            <if test="batteryWarrantyDeadline != null">
                BATTERY_WARRANTY_DEADLINE,
            </if>
            <if test="robotWarrantyDeadline != null">
                ROBOT_WARRANTY_DEADLINE,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="cost != null">
                COST,
            </if>
            <if test="serviceLife != null">
                SERVICE_LIFE,
            </if>
            <if test="factoryCost != null">
                FACTORY_COST,
            </if>
            <if test="accumulate != null">
                ACCUMULATE,
            </if>
            <if test="netPrice != null">
                NET_PRICE,
            </if>
            <if test="robotCode != null">
                ROBOT_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="softAssetInformationId != null">
                #{softAssetInformationId,jdbcType=BIGINT},
            </if>
            <if test="robotId != null">
                #{robotId,jdbcType=BIGINT},
            </if>
            <if test="dateProduction != null">
                #{dateProduction,jdbcType=VARCHAR},
            </if>
            <if test="batteryWarrantyDeadline != null">
                #{batteryWarrantyDeadline,jdbcType=VARCHAR},
            </if>
            <if test="robotWarrantyDeadline != null">
                #{robotWarrantyDeadline,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=VARCHAR},
            </if>
            <if test="cost != null">
                #{cost,jdbcType=VARCHAR},
            </if>
            <if test="serviceLife != null">
                #{serviceLife,jdbcType=VARCHAR},
            </if>
            <if test="factoryCost != null">
                #{factoryCost,jdbcType=VARCHAR},
            </if>
            <if test="accumulate != null">
                #{accumulate,jdbcType=DOUBLE},
            </if>
            <if test="netPrice != null">
                #{netPrice,jdbcType=DOUBLE},
            </if>
            <if test="robotCode != null">
                #{robotCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.hna.hka.archive.management.appSystem.model.AppRobotSoftAssetInformation">
        update SYS_ROBOT_SOFT_ASSET_INFORMATION
        <set>
            <if test="robotId != null">
                ROBOT_ID = #{robotId,jdbcType=BIGINT},
            </if>
            <if test="dateProduction != null">
                DATE_PRODUCTION = #{dateProduction,jdbcType=VARCHAR},
            </if>
            <if test="batteryWarrantyDeadline != null">
                BATTERY_WARRANTY_DEADLINE = #{batteryWarrantyDeadline,jdbcType=VARCHAR},
            </if>
            <if test="robotWarrantyDeadline != null">
                ROBOT_WARRANTY_DEADLINE = #{robotWarrantyDeadline,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
            </if>
            <if test="cost != null">
                COST = #{cost,jdbcType=VARCHAR},
            </if>
            <if test="serviceLife != null">
                SERVICE_LIFE = #{serviceLife,jdbcType=VARCHAR},
            </if>
            <if test="factoryCost != null">
                FACTORY_COST = #{factoryCost,jdbcType=VARCHAR},
            </if>
            <if test="accumulate != null">
                ACCUMULATE = #{accumulate,jdbcType=DOUBLE},
            </if>
            <if test="netPrice != null">
                NET_PRICE = #{netPrice,jdbcType=DOUBLE},
            </if>
            <if test="robotCode != null">
                ROBOT_CODE = #{robotCode,jdbcType=VARCHAR},
            </if>
        </set>
        where SOFT_ASSET_INFORMATION_ID = #{softAssetInformationId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.hna.hka.archive.management.appSystem.model.AppRobotSoftAssetInformation">
        update SYS_ROBOT_SOFT_ASSET_INFORMATION
        set ROBOT_ID                  = #{robotId,jdbcType=BIGINT},
            DATE_PRODUCTION           = #{dateProduction,jdbcType=VARCHAR},
            BATTERY_WARRANTY_DEADLINE = #{batteryWarrantyDeadline,jdbcType=VARCHAR},
            ROBOT_WARRANTY_DEADLINE   = #{robotWarrantyDeadline,jdbcType=VARCHAR},
            CREATE_DATE               = #{createDate,jdbcType=VARCHAR},
            UPDATE_DATE               = #{updateDate,jdbcType=VARCHAR},
            COST                      = #{cost,jdbcType=VARCHAR},
            SERVICE_LIFE              = #{serviceLife,jdbcType=VARCHAR},
            FACTORY_COST              = #{factoryCost,jdbcType=VARCHAR},
            ACCUMULATE                = #{accumulate,jdbcType=DOUBLE},
            NET_PRICE                 = #{netPrice,jdbcType=DOUBLE},
            ROBOT_CODE                = #{robotCode,jdbcType=VARCHAR}
        where SOFT_ASSET_INFORMATION_ID = #{softAssetInformationId,jdbcType=BIGINT}
    </update>

    <select id="getRobotCodeByDetails" resultType="com.hna.hka.archive.management.appSystem.model.AppRobotSoftAssetInformation">

        select *
        from SYS_ROBOT_SOFT_ASSET_INFORMATION
        <where>
            <if test="robotCode != null and robotCode != ''">
                ROBOT_CODE = #{robotCode}
            </if>
        </where>

    </select>

</mapper>