<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hna.hka.archive.management.appSystem.dao.UserMapper">
    <resultMap id="user" type="com.hna.hka.archive.management.appSystem.model.AppUser">
        <id column="USER_ID" property="userId"/>
        <result column="LOGIN_NAME" property="loginName"/>
        <result column="PASSWORD" property="password"/>
    </resultMap>

    <select id="selUser" resultMap="user">
        select USER_ID,LOGIN_NAME,PASSWORD,SALT_VALUE
        from SYS_APP_USERS
        where USER_ID=#{userId}
    </select>

    <update id="upUser" parameterType="com.hna.hka.archive.management.appSystem.model.AppUser">
        update SYS_APP_USERS set PASSWORD=#{password},SALT_VALUE=#{saltValue}
        where LOGIN_NAME=#{loginName}
    </update>
</mapper>