<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hna.hka.archive.management.managerApp.dao.SysAppRoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.hna.hka.archive.management.managerApp.model.SysAppRoleResource" >
    <id column="RELATION_ID" property="relationId" jdbcType="BIGINT" />
    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="RES_ID" property="resId" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RELATION_ID, ROLE_ID, RES_ID, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_APP_ROLE_RESOURCE
    where RELATION_ID = #{relationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_APP_ROLE_RESOURCE
    where RELATION_ID = #{relationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hna.hka.archive.management.managerApp.model.SysAppRoleResource" >
    insert into SYS_APP_ROLE_RESOURCE (RELATION_ID, ROLE_ID, RES_ID, 
      CREATE_DATE, UPDATE_DATE)
    values (#{relationId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{resId,jdbcType=BIGINT}, 
      #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hna.hka.archive.management.managerApp.model.SysAppRoleResource" >
    insert into SYS_APP_ROLE_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="relationId != null" >
        RELATION_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="resId != null" >
        RES_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="relationId != null" >
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="resId != null" >
        #{resId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hna.hka.archive.management.managerApp.model.SysAppRoleResource" >
    update SYS_APP_ROLE_RESOURCE
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="resId != null" >
        RES_ID = #{resId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
    </set>
    where RELATION_ID = #{relationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hna.hka.archive.management.managerApp.model.SysAppRoleResource" >
    update SYS_APP_ROLE_RESOURCE
    set ROLE_ID = #{roleId,jdbcType=BIGINT},
      RES_ID = #{resId,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR}
    where RELATION_ID = #{relationId,jdbcType=BIGINT}
  </update>
  <delete id="deleteByRoleId" parameterType="java.lang.Long" >
    delete from SYS_APP_ROLE_RESOURCE
    where ROLE_ID = #{roleId,jdbcType=BIGINT}
  </delete>
</mapper>