<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hna.hka.archive.management.managerApp.dao.SysRobotAdministratorsVersionMapper" >
  <resultMap id="BaseResultMap" type="com.hna.hka.archive.management.managerApp.model.SysRobotAdministratorsVersion" >
    <id column="VERSION_ID" property="versionId" jdbcType="BIGINT" />
    <result column="VERSION_URL" property="versionUrl" jdbcType="VARCHAR" />
    <result column="VERSION_NUMBER" property="versionNumber" jdbcType="VARCHAR" />
    <result column="VERSION_DESCRIPTION" property="versionDescription" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    VERSION_ID, VERSION_URL, VERSION_NUMBER, VERSION_DESCRIPTION, SCENIC_SPOT_ID, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROBOT_ADMINISTRATORS_VERSION
    where VERSION_ID = #{versionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_ROBOT_ADMINISTRATORS_VERSION
    where VERSION_ID = #{versionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hna.hka.archive.management.managerApp.model.SysRobotAdministratorsVersion" >
    insert into SYS_ROBOT_ADMINISTRATORS_VERSION (VERSION_ID, VERSION_URL, VERSION_NUMBER, 
      VERSION_DESCRIPTION, SCENIC_SPOT_ID, CREATE_DATE
      )
    values (#{versionId,jdbcType=BIGINT}, #{versionUrl,jdbcType=VARCHAR}, #{versionNumber,jdbcType=VARCHAR}, 
      #{versionDescription,jdbcType=VARCHAR}, #{scenicSpotId,jdbcType=BIGINT}, #{createDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hna.hka.archive.management.managerApp.model.SysRobotAdministratorsVersion" >
    insert into SYS_ROBOT_ADMINISTRATORS_VERSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="versionId != null" >
        VERSION_ID,
      </if>
      <if test="versionUrl != null" >
        VERSION_URL,
      </if>
      <if test="versionNumber != null" >
        VERSION_NUMBER,
      </if>
      <if test="versionDescription != null" >
        VERSION_DESCRIPTION,
      </if>
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="versionId != null" >
        #{versionId,jdbcType=BIGINT},
      </if>
      <if test="versionUrl != null" >
        #{versionUrl,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null" >
        #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="versionDescription != null" >
        #{versionDescription,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hna.hka.archive.management.managerApp.model.SysRobotAdministratorsVersion" >
    update SYS_ROBOT_ADMINISTRATORS_VERSION
    <set >
      <if test="versionUrl != null" >
        VERSION_URL = #{versionUrl,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null" >
        VERSION_NUMBER = #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="versionDescription != null" >
        VERSION_DESCRIPTION = #{versionDescription,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
    </set>
    where VERSION_ID = #{versionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hna.hka.archive.management.managerApp.model.SysRobotAdministratorsVersion" >
    update SYS_ROBOT_ADMINISTRATORS_VERSION
    set VERSION_URL = #{versionUrl,jdbcType=VARCHAR},
      VERSION_NUMBER = #{versionNumber,jdbcType=VARCHAR},
      VERSION_DESCRIPTION = #{versionDescription,jdbcType=VARCHAR},
      SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR}
    where VERSION_ID = #{versionId,jdbcType=BIGINT}
  </update>
  <select id="getAdministratorsVersionList" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    SYS_ROBOT_ADMINISTRATORS_VERSION
    ORDER BY CREATE_DATE DESC
  </select>
  <select id="getAdministratorsVersion" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include>
    FROM
    SYS_ROBOT_ADMINISTRATORS_VERSION
    ORDER BY CREATE_DATE DESC
    LIMIT 1
  </select>
</mapper>