<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hna.hka.archive.management.assetsSystem.dao.CooperativeCompanyMapper">

    <select id="list" resultType="com.hna.hka.archive.management.assetsSystem.model.CooperativeCompany">
        select COMPANY_ID as companyId , COMPANY_NAME as companyName , COLLECTION_ACCOUNT as collectionAccount ,
        COLLECTION_ACCOUNT_NUMBER as collectionAccountNumber , CREATE_TIME as createTime , bank , notes from
        SYS_SCENIC_COOPERATIVE_COMPANY
        <if test="name != null">
            where COMPANY_NAME like concat('%', #{name} , '%')
        </if>
        <if test="pageNum != null and pageSize != null">
            limit #{pageNum , jdbcType=INTEGER} , #{pageSize , jdbcType=INTEGER}
        </if>
    </select>

    <select id="findCount" resultType="java.lang.Integer">
        select count(0) from SYS_SCENIC_COOPERATIVE_COMPANY
        <if test="_parameter != null">
            where COMPANY_NAME like concat('%', #{name} , '%')
        </if>
    </select>

    <insert id="add" parameterType="com.hna.hka.archive.management.assetsSystem.model.CooperativeCompany">
        INSERT INTO SYS_SCENIC_COOPERATIVE_COMPANY(COMPANY_ID, COMPANY_NAME, COLLECTION_ACCOUNT,
                                                   COLLECTION_ACCOUNT_NUMBER, CREATE_TIME, BANK, NOTES)
        values (#{companyId}, #{companyName}, #{collectionAccount}, #{collectionAccountNumber},
                DATE_FORMAT(now(), '%Y-%m-%d %T'), #{bank},
                #{notes})
    </insert>

    <update id="edit" parameterType="com.hna.hka.archive.management.assetsSystem.model.CooperativeCompany">
        update SYS_SCENIC_COOPERATIVE_COMPANY
        set COMPANY_NAME              = #{companyName},
            COLLECTION_ACCOUNT        =
                #{collectionAccount},
            COLLECTION_ACCOUNT_NUMBER = #{collectionAccountNumber},
            BANK                      = #{bank},
            NOTES                     =
                #{notes}
        where COMPANY_ID = #{companyId}
    </update>

    <delete id="delete">
        delete
        from SYS_SCENIC_COOPERATIVE_COMPANY
        where COMPANY_ID = #{companyId}
    </delete>
    
    <select id="selectByPrimaryKey" resultType="com.hna.hka.archive.management.assetsSystem.model.CooperativeCompany">
        select * from SYS_SCENIC_COOPERATIVE_COMPANY where COMPANY_ID = #{companyId}
    </select>

    <select id="getNameByCompanyId" resultType="com.hna.hka.archive.management.assetsSystem.model.CooperativeCompany">
        select * from SYS_SCENIC_COOPERATIVE_COMPANY where COMPANY_NAME = #{companyName}
    </select>
    
    
</mapper>